body.contact {

    .headline {
        @include child-page-headline();
    }

    section.web-contact,
    section.tel-contact {
        width: calc(100% - 20px);
        padding: 35px 15px 15px;
        background-color: $main-light-color;

        @media screen and (min-width: 800px) {
            width: calc(100% - 20px);
            max-width: 800px;
        }

        > h2 {
            margin-bottom: 25px;
            font-size: 20px;
            @include fw-bold();
            text-align: center;

            @media screen and (min-width: 800px) {
                margin-bottom: 30px;
                font-size: 25px;
            }
        }
    }

    section.web-contact {
        margin: 50px auto 30px;

        @media screen and (min-width: 800px) {
            margin: 50px auto 70px;
        }
    }

    section.tel-contact {
        margin: 0 auto 50px;

        > p {
            font-size: 16px;
            text-align: left;

            @media screen and (min-width: 800px) {
                font-size: 18px;
                text-align: center;
            }
        }

        .number {
            margin-top: 20px;
            padding-left: 25px;
            text-align: center;

            > a {
                position: relative;
                font-size: 24px;
                color: $main-color;
                @include fw-bold();
                border-bottom: 1px solid $main-color;

                @media screen and (min-width: 800px) {
                    font-size: 35px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: -25px;
                    transform: translateY(-50%);
                    width: 16px;
                    height: 30px;
                    background-image: url("../images/contact/tel-icon.svg");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;

                    @media screen and (min-width: 800px) {
                        width: 20px;
                        height: 35px;
                    }
                }
            }

            > span {
                font-size: 13px;
                color: $font;

                @media screen and (min-width: 800px) {
                    vertical-align: 3px;
                    font-size: 16px;
                }
            }
        }
    }

    .back-btn {
        @include back-btn();
    }
}
