body.home {
    
    section.top {
        position: relative;
        height: calc(100svh - 64px);
        padding: 10px;

        > video {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        > img {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 20;
            width: 300px;
            transform: translate(-50%,-50%);
        }

        .scroll {
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
            display: inline-block;
            font-size: 14px;
            color: $main-color;
            padding-bottom: 10px;

            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                width: 1px;
                height: 30px;
                background: linear-gradient(to top, $main-color);
                animation: scroll-line 1.5s infinite;
            }
        }

        @keyframes scroll-line {
            0% {
                height: 0px;
            }
            100% {
                height: 30px;
            }
        }
    }

    section.today {
        display: block;
        margin-top: 40px;
        padding: 0 10px;

        > img {
            @include home-content-title();
        }

        .schedule-list {
            @include schedule-list();

            &:last-child {
                margin-top: 20px;
            }
        }
    }

    section.this-month {
        @include home-schedule-list();
    }

    section.news {
        @include home-schedule-list();
    }

    section.page-links {
        width: min(100% , 500px);
        margin: 60px auto 0;
        padding: 0 10px;

        ul {
            li {
                margin-bottom: 15px;
                border-bottom: 1px solid $main-light-color;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    position: relative;
                    display: block;
                    padding-bottom: 15px;
                    color: $main-light-color;

                    &:after {
                        @include link-arrow(5px, 40%, 2px);
                    }

                    .image {
                        position: absolute;
                        width: 90px;
                        height: 100%;

                        > img {
                            position: absolute;
                            top: 40%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            display: block;
                            width: min(100%, 80px);
                            height: 45px;
                        }
                    }

                    .text {
                        flex: 1;
                        @include flex($fd:column);
                        padding-left: 100px;

                        span {
                            font-size: 22px;
                            @include fw-bold();
                            line-height: 1.2;
                        }

                        .leading-text {
                            padding-top: 3px;
                            font-size: 11px;
                            @include fw-regular();
                        }
                    }
                }
            }
        }
    }

    section.hall-rental {
        margin-top: 60px;
        padding: 0 10px;

        > img {
            width: min(100%, 450px);
        }

        .sub-headline {
            @include flex($fd:column);
            margin-top: 20px;

            > p {
                margin-bottom: 30px;
                line-height: 1.6;

                > a {
                    color: $main-light-color;
                    border-bottom: 1px solid $main-light-color;
                }
            }

            > a {
                position: relative;
                display: block;
                width: 280px;
                margin: 0 auto;
                padding: 12px 10px 12px 15px;
                border: 1px solid $main-light-color;
                font-size: 16px;
                @include fw-bold();
                color: $main-light-color;
                text-align: left;

                &:after {
                    @include link-arrow(10px);
                }
            }
        }

        .splide {
            margin-top: 45px;

            .splide__track {
                .splide__list {
                    .splide__slide {
                        img {
                            width: 90%;
                        }
                    }
                }
            }
        }
    }

    section.access {
        margin-top: 50px;
        padding: 10px;

        .text-area {

            > img {
                display: block;
                width: 240px;
            }
            
            .address {
                margin-top: 15px;

                h2 {
                    @include home-access-h2(url(../images/home/map.svg), 18px, 30px);
                }

                p {
                    padding-left: 25px;

                    span {
                        display: block;
                        margin-top: 10px;
                        font-size: 14px;
                        line-height: 1.6;
                    }
                }
            }

            .tel {
                margin-top: 20px;

                h2 {
                    @include home-access-h2(url(../images/home/tel.svg), 14px, 30px);
                }

                p {
                    padding-left: 25px;

                    a {
                        color: $main-light-color;
                        border-bottom: 1px solid $main-light-color;
                    }

                    span {
                        display: block;
                        margin-top: 10px;
                        font-size: 14px;
                        line-height: 1.6;
                    }
                }
            }

            .mail {
                margin-top: 20px;

                h2 {
                    @include home-access-h2(url(../images/home/letter.svg), 18px, 15px);
                }

                p {
                    padding-left: 25px;
                }
            }

            .sns {
                margin-top: 20px;

                h2 {
                    @include home-access-h2(url(../images/home/sns.svg), 18px, 18px);
                }

                ul {
                    @include flex($ai:center);
                    padding-left: 30px;

                    li {
                        padding-right: 30px;

                        &:last-child {
                            padding-right: 0;
                        }

                        a {
                            img {
                                width: 30px;
                                max-height: 30px;
                            }
                        }
                    }
                }
            }
        }

        .map {
            position: relative;
            width: 100%;
            height: 0;
            margin-top: 40px;
            padding-top: 140%;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}
