@media screen and (min-width: 800px) {

/**
    * ------------------------------------------------------------
    * bottom header
    * ------------------------------------------------------------
*/

    body > .bottom-header {

        @media screen and (min-width: 1920px) {
            padding-left: calc(50vw - 960px);
            padding-right: calc(50vw - 960px);
        }

        .logo {
            > img {
                width: 160px;
            }
        }

        nav {
            position: static;
            @include flex($ai:center);
            width: auto;
            height: auto;
            padding: 0;
            background-color: transparent;
            transform: none;
            transition: none;

            li {
                border-bottom: none;
                margin-right: 25px;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    position: relative;
                    display: block;
                    width: 100%;
                    padding: 0;
                    font-size: 14px;
                    @include fw-bold();
                    color: $main-light-color;

                    &:after {
                        position: static;
                        border-right: none;
                    }
                }
            }

            .list-contact {
                border: none;

                a {
                    margin-top: 0;
                    padding: 10px 25px;
                    font-size: 16px;

                    &:after {
                        display: none;
                    }
                }
            }
        }

        .contact {
            display: none;
        }

        .hamburger-icon {
            display: none;
        }
    }

/**
    * ------------------------------------------------------------
    * footer
    * ------------------------------------------------------------
*/

    body > footer {
        padding: 80px 0 120px;

        > a {
            font-size: 18px;
        }

        .copyrights {
            margin-top: 5px;

            small {
                font-size: 14px;
            }
        }
    }

}
