/**
 * ------------------------------------------------------------
 * news一覧
 * ------------------------------------------------------------
*/

body.post-type-archive-news {

    .headline {
        @include child-page-headline();
    }

    section.content {
        padding: 0 10px;

        @media screen and (min-width: 800px) {
            width: min(100%, 800px);
            margin: 0 auto;
        }

        .list-link-cards {
            li {
                .schedule-list {
                    @include schedule-list($pc-margin: 0 0 30px 0);
                }

                &:last-child .schedule-list {
                    margin-bottom: 0;
                }
            }
        }

        .pagination {
            margin: 20px 0;
            text-align: center;

            .page-numbers {
                display: inline-block;
                margin-left: 15px;
                padding: 8px;
                color: $main-color;
                line-height: 1;
                background-color: $main-light-color;

                &:first-child {
                    margin-left: 0;
                }
            }

            .current {
                color: $font;
                background-color: transparent;
            }

            .dots {
                color: $main-light-color;
                background-color: transparent;
            }

            .prev,
            .next {
                font-size: 20px;
                color: $main-light-color;
                background-color: transparent;
            }
        }
    }

    .back-btn {
        @include back-btn();
    }
}

/**
 * ------------------------------------------------------------
 * live-schedule詳細
 * ------------------------------------------------------------
*/

body.single-news {
    .headline {
        @include child-page-headline();
    }

    section.content {
        padding: 0 10px;

        @media screen and (min-width: 800px) {
            width: min(100%, 800px);
            margin: 0 auto;
        }

        .post-thumbnail {
            display: block;
            width: 100%;
            height: auto;
            margin-bottom: 30px;

            @media screen and (min-width: 800px) {
                width: 100%;
                margin-bottom: 50px;
            }
        }

        .date {
            font-size: 20px;

            @media screen and (min-width: 800px) {
                font-size: 40px;
            }

            span {
                font-size: 12px;

                @media screen and (min-width: 800px) {
                    font-size: 25px;
                }
            }
        }

        h1 {
            margin-bottom: 15px;
            font-size: 20px;

            @media screen and (min-width: 800px) {
                margin-bottom: 25px;
                font-size: 35px;
            }
        }

        .note {
            margin-bottom: 50px;
            font-size: 16px;

            p {
                font-size: 16px;
            }

            a {
                color: $main-light-color;
                border-bottom: 1px solid $main-light-color;
            }

            @media screen and (min-width: 800px) {
                margin-bottom: 60px;
                font-size: 18px;
            }
        }
    }

    .promotion-btn {
        @include promotion-btn();
    }

    .back-btn {
        @include back-btn();
    }
}
