// 色の定義
$main-color: #D90000;
$main-light-color: #FFF9F9;
$font: #231815;
$bg-main: #BC0011;
$border: #D9D9D9;
$day: #df8f04;
$night: #000595;
$line-gray: #D9D9D9;
$placeholder: #C3C3C3;


@mixin text( $size, $color, $line-height:normal) {
    font-size: $size;
    color: $color;
    line-height: $line-height;
    letter-spacing: 0.08em;
}

@mixin noto-sans() {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 0.08em;
}

@mixin fw-bold() {
  font-weight: 700;
}

@mixin fw-regular() {
  font-weight: 400;
}

@mixin padding1366() {
    padding: 0 10px;
} 

@mixin flex($jc:flex-start, $ai:flex-start, $fd:row) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}

@mixin link-arrow($right:0, $top:50%, $border-width:1px) {
    content: "";
    position: absolute;
    right: $right;
    top: $top;
    width: 6px;
    height: 6px;
    border-top: $border-width solid $main-light-color;
    border-right: $border-width solid $main-light-color;
    transform: translateY(-50%) rotate(45deg);
}

@mixin white-btn($width) {
    width: $width;
    padding: 5px 0;
    text-align: center;
    font-size: 12px;
    @include fw-bold();
    text-align: center;;
    color: $main-color;
    background-color: $main-light-color;
}

@mixin back-btn() {
    margin: 50px 0 40px;
    text-align: center;

    > a {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        font-size: 14px;
        @include fw-bold();
        text-align: center;;
        color: $main-color;
        background-color: $main-light-color;

        @media screen and (min-width: 800px) {
            padding: 15px 40px;
            font-size: 16px;
        }
    } 
}

@mixin promotion-btn() {

}

@mixin home-content-title() {
    display: block;
    width: auto;
    height: 30px;
    margin: 0 auto 20px;

    @media screen and (min-width: 800px) {
        position: absolute;
        top: 0;
        left: 10px;
        z-index: -1;
        width: auto;
        height: 70px;
    }
    
    @media screen and (min-width: 1366px) {
        height: auto;
    }
}

@mixin child-page-headline() {
    margin: 45px 0;
    padding: 0 10px;

    @media screen and (min-width: 800px) {
        width: min(100%, 1366px);
        margin: 45px auto 60px;
    }

    > img {
        display: block;
        width: 85%;

        @media screen and (min-width: 800px) {
            width: min(85% , 1000px);
            margin: 0 auto;
            max-height: 120px;
        }
    }

    > span {
        display: block;
        margin-top: 10px;
        font-size: 12px;
        @include fw-bold();

        @media screen and (min-width: 800px) {
            margin-top: 20px;
            font-size: 18px;
            text-align: center;
        }
    }
}

@mixin schedule-list($pc-margin:55px 0 0 auto) {
  display: block;
  width: min(100%, 500px);
  margin: 0 auto 25px;
  padding: 12px;
  background-color: $main-light-color;

  .head {
      @include flex(space-between,center);
      gap: 10px;

      .event-date {
          width: 100px;
          color: $main-color;

          .month {
              font-size: 16px;
              @include fw-bold();
          }

          .date {
              display: block;
              margin-top: -5px;
              font-size: 75px;
              color: $main-color;
              @include fw-bold();
              line-height: 1;
              text-align: center;
          }

          .day-of-the-week {
              display: block;
              font-size: 12px;
              text-align: center;
          }

        .day-icon,
        .night-icon {
            display: block;
            width: 100%;
            margin-top: 10px;
            padding: 2px 0;
            font-size: 12px;
            @include fw-bold();
            color: $main-light-color;
            text-align: center;
            border-radius: 10px;
        }

        .day-icon {
            background-color: $day;
        }

        .night-icon {
            background-color: $night;
        }
      }

      > img {
          flex: 1;
          width: calc( 100% - 100px );
          height: auto;
          aspect-ratio: 369 / 260;
          object-fit: fill;
      }
  }

  .text {
      margin-top: 15px;

      .title {
          margin-bottom: 15px;
          padding-bottom: 10px;
          font-size: 18px;
          color: $main-color;
          border-bottom: 1px solid $main-color;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }

      .performer {
          margin-bottom: 10px;
          font-size: 12px;
      }

      .info {
          margin-bottom: 15px;
          font-size: 12px;
      }
  }

  .leading-btn {
      width: 100%;
      padding: 8px 0;
      text-align: center;
      font-size: 12px;
      @include fw-bold();
      text-align: center;;
      color: $main-light-color;
      background-color: $main-color;
  }

  @media screen and (min-width: 800px) {
    @include flex($ai:center, $jc:space-between);
    gap: 20px;
    width: 800px;
    margin: $pc-margin;

    .head {
        @include flex(space-between,center);
        gap: 20px;

        .event-date {
            width: 120px;
            color: $main-color;


            .month {
                font-size: 18px;
            }

            .date {
                font-size: 85px;
            }

            .day-of-the-week {
                display: block;
                font-size: 15px;
                text-align: center;
            }

            .day-icon,
            .night-icon {
                padding: 3px 0;
                font-size: 12px;
            }
        }

        > img {
            width: 215px;
        }
    }

    .text {
        flex: 1;
        margin-top: 15px;

        .title {
            width: 340px;
            margin-bottom: 15px;
            padding-bottom: 10px;
            font-size: 18px;
            color: $main-color;
            border-bottom: 1px solid $main-color;
        }

        .performer {
            margin-bottom: 10px;
            font-size: 12px;
        }

        .info {
            margin-bottom: 15px;
            font-size: 12px;
        }
    }

    .leading-btn {
        align-self: stretch;
        width: auto;
        padding: 0 10px;
        text-align: center;
        writing-mode: vertical-rl;
    }
  }
}

@mixin home-schedule-list {
  margin-top: 60px;

  > img {
      @include home-content-title();
  }

  .schedule {
      position: relative;
      padding: 0 10px;

      .scroll-bar {
          @include flex($ai:center);
          width: 100%;

          > span {
              font-size: 15px;
              @include fw-bold();
              color: $font;
          }

          .bar {
              display: block;
              margin-left: 15px;
              width: 100%;
              height: 1px;
              background-color: $font;
              animation: shrinkBar 3s ease infinite;
          }
      }

      @keyframes shrinkBar {
          0% {
              width: 100%;
          }
          50% {
              width: 0%; // 縮んだ時の割合
          }
          100% {
              width: 100%;
          }
      }

      .list-link-cards {
          @include flex();
          width: 100%;
          margin: 0 0 35px;
          padding: 10px 0;
          overflow-x: scroll;
          scrollbar-width: none;

          li {
              width: 240px;
              min-width: 240px;
              margin-right: 15px;

              &:first-child {
                  margin-left: 50px;
              }

              &:last-child {
                  margin-right: 0;
              }

              .card {
                  display: block;

                  > img {
                      display: block;
                      width: 100%;
                      height: auto;
                      aspect-ratio: 369 / 260;
                      object-fit: fill;
                  }

                  .text-area {
                      @include flex($ai:flex-end);
                      padding-top: 3px;
                      color: $main-light-color;

                      .date-info {
                          @include flex($ai:center);
                          line-height: 1.2;

                          > div {
                              padding-top: 2px;

                              span {
                                  display: block;
                              }

                              .month {
                                  padding-bottom: 2px;
                                  font-size: 10px;
                                  @include fw-bold();
                              }

                              .day-of-the-week {
                                  font-size: 10px;
                              }
                          }

                          .date {
                              padding-left: 5px;
                              font-size: 32px;
                              @include fw-bold();
                              color: $main-light-color;
                              line-height: 1;
                          }
                      }

                      > p {
                          position: relative;
                          flex: 1;
                          margin-left: 5px;
                          padding-bottom: 3px;
                          font-size: 12px;
                          border-bottom: 1px solid $main-light-color;

                          &:after {
                              @include link-arrow();
                          }
                      }
                  }
              }
          }
      }
  }

  .line-btn {
    a {
      position: relative;
      display: block;
      width: 170px;
      margin: 0 auto;
      padding: 12px 10px 12px 0;
      border: 1px solid $main-light-color;
      font-size: 16px;
      @include fw-bold();
      color: $main-light-color;
      text-align: center;

      &:after {
        @include link-arrow(10px);
      }
    }
  }
  
  @media screen and (min-width: 800px) {
    position: relative;
    max-width: 1366px;
    margin: 120px auto 0;
    padding: 0 10px;

    @media screen and (min-width: 1366px) {
        padding: 0;
    }

    > img {
        @include home-content-title();
    }

    .schedule {
        position: static;
        padding: 80px 0 0;

        .scroll-bar {
            position: absolute;
            top: 50%;
            left: 10px;
            z-index: -1;
            transform: translateY(-50%);
            width: 30%;

            > span {
                font-size: 30px;
            }

            .bar {
                margin-left: 15px;
            }
        }

        .list-link-cards {
            li {
                width: 320px;
                min-width: 320px;
                margin-right: 20px;

                &:first-child {
                    margin-left: 300px;
                }

                .card {

                    .text-area {
                        padding-top: 5px;

                        .date-info {
                            @include flex($ai:center);

                            > div {
                                padding-top: 5px;

                                .month {
                                    padding-bottom: 2px;
                                    font-size: 13px;
                                }

                                .day-of-the-week {
                                    font-size: 13px;
                                }
                            }

                            .date {
                                font-size: 40px;
                            }
                        }

                        > p {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    .line-btn {
        a {
            position: relative;
            display: block;
            width: 170px;
            margin: 0 auto;
            padding: 12px 10px 12px 0;
            border: 1px solid $main-light-color;
            font-size: 16px;
            @include fw-bold();
            color: $main-light-color;
            text-align: center;

            &:after {
                @include link-arrow(10px);
            }

            @media screen and (min-width: 800px) {
                width: 300px;
            }
        }
    }
  }  
}

@mixin home-access-h2($icon, $icon-w, $icon-h) {
  position: relative;
  margin-bottom: 5px;
  padding-left: 25px;
  font-size: 22px;
  @include fw-bold();

  &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: $icon-w;
      height: $icon-h;
      transform: translateY(-50%);
      background-image: $icon;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;   
  }

  > a {
      vertical-align: 5px;
      font-size: 14px;
      @include fw-regular();
      color: $main-light-color;
      border-bottom: 1px solid $main-light-color;
  }
}

@mixin promotion-btn() {
    @include flex($ai:center,$fd:column);

    > button {
        width: 300px;
        margin-bottom: 20px;
        padding: 15px 0;
        font-size: 14px;
        @include fw-bold();
        color: $main-light-color;
        border: 1px solid $main-light-color;
        background-color: transparent;
        cursor: pointer;
        transition: .4s;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    @media screen and (min-width: 800px) {
        width: min(100%,800px);
        margin: 0 auto;
        padding: 0 10px;
        justify-content: space-between;
        flex-direction: row;
        gap: 15px;

        button {
            width: calc(100% / 3);
            margin-bottom: 0;
            font-size: 16px;
        }
    }
}
