// 色の定義
$main-color: #D90000;
$main-light-color: #FFF9F9;
$font: #231815;
$bg-main: #BC0011;
$border: #D9D9D9;

@mixin text( $size, $color, $line-height:normal)
{
    font-size: $size;
    color: $color;
    line-height: $line-height;
    letter-spacing: 0.08em;
}

@mixin noto-sans()
{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 0.08em;
}
